<h1>
  {{title}}
</h1>

<div class="row">
  <aside class="sideBar" [@sideBarVisibility]="state" *ngIf="showMainSideMenu1">
    <h4>1</h4>
    <ul>
      <li>One</li>
      <li>Two</li>
      <li>Three</li>
      <li>Four</li>
      <li>Five</li>
    </ul>
  </aside>
  <aside class="sideBar" [@sideBarVisibility2]="state2" *ngIf="showMainSideMenu2">
    <h4>2</h4>
    <ul>
      <li>Six</li>
      <li>Seven</li>
      <li>Eight</li>
      <li>Nine</li>
      <li>Ten</li>
    </ul>
  </aside>
</div>
<button (click)='onSlideInOut()'>Slide in and out</button>
<br>
"showMainSideMenu1:" {{showMainSideMenu1}}
<br>
"showMainSideMenu2:" {{showMainSideMenu2}}
